@import "./mixin";

// common CSS
.only-en {
  font-family: 'Poppins', sans-serif;
}

.f-pt-serif {
  font-family: 'PT Serif', serif;
}

.f-mont {
  font-family: 'Montserrat', sans-serif;
}

.l-center {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  @include media-custom(600px) {
    width: 100%;
    padding: 0 12px;
  }
}
// E common CSS

.sec-introduction {
  padding: 110px 0 0 0;

  @include media-custom(600px) {
    padding: 71px 0 134px 0;
  }

  .txt-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;

    @include media-custom(600px) {
      display: block;
      margin-bottom: 70px;
    }

    .left-wrap {

      .tit {
        font: {
          size: 2.25rem;
          weight: 700;
        }

        @include media-custom(600px) {
          font-size: 3.6rem;
          margin-bottom: 38px;
        }
      }
    }

    .right-wrap {
      padding-right: 50px;

      .sub-tit {
        font: {
          size: 1.125rem;
          weight: 600;
        }
        margin-bottom: 10px;

        @include media-custom(600px) {
          font-size: 1.8rem;
        }
      }

      .dec {
        font: {
          size: 1.125rem;
          weight: 400;
        }
        line-height: 1.5;

        @include media-custom(600px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  .img-group-wrap {

    .img-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
    }

    .img-list {
      width: 238px;
      margin-right: 93px;
      margin-bottom: 132px;

      @include media-custom(600px) {
        width: 40%;
        margin-right: 40px;
        margin-bottom: 64px;
      }

      &:nth-child(2) {
        transform: translateY(70px);

        @include media-custom(600px) {
          margin-right: 0;
          transform: translateY(50px);
        }

        .img-wrap {
          @include make-after('ART DIRECTOR');
        }
      }

      &:nth-child(3) {
        margin-right: 0;

        @include media-custom(600px) {
          margin-right: 40px;
        }

        .img-wrap {
          @include make-after('TECH LEAD');
        }
      }

      &:nth-child(4) {
        .img-wrap {
          @include make-after('UX DESIGNER');
        }

        @include media-custom(600px) {
          transform: translateY(50px);
          margin-right: 0;
        }
      }
      &:nth-child(5) {
        transform: translateY(70px);
        @include media-custom(600px) {
          transform: none;
        }

        .img-wrap {
          @include make-after('DEVELOPER');
        }
      }
      &:last-child {
        margin-right: 0;
        .img-wrap {
          @include make-after('DEVELOPER');
        }

        @include media-custom(600px) {
          transform: translateY(50px);
        }
      }
    }
    .img-wrap {
      width: 100%;
      margin-bottom: 15px;
      position: relative;

      @include make-after("PRODUCT OWNER"){
        font-family: 'PT Serif', serif;
        font-size: 0.75rem;
        font-weight: 400;
        writing-mode: vertical-rl;
        @include absolute(0, auto, auto, -20px);
        @include media-custom(600px) {
          font-size: 1rem;
        }
      }

      @include media-custom(600px) {
        margin-bottom: 10px;
      }
      
      .img {
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;    
      }
    }

    .name-wrap {

      .name {
        font: {
          size: 1.125rem;
          weight: 600;
        }

        @include media-custom(600px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.cc-footer {
  padding: 24px 0;
  
  .ft-info {
    text-align: center;
    font-weight: 500;
    color: #A9A9A9;
    font-size: 0.875rem;

    @include media-custom(600px) {
      font-size: 1.4rem;
    }

    .bold-txt {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}